| $('.sidebar-books ul, .slides ul').empty();
  var books = [
- @titles.each do |id, title|
  | '<li><a data-remote="true" href="#{book_path(id)}">#{title}</a></li>',
|
  ];
  $('.sidebar-books ul').html(books.join(''));
  if (defer0 !== undefined) {
      defer0.resolve();
  }
