doctype html
html lang="he"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    title Big Window
    css:
      * {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      body {
        background: green;
      }

      p {
        display: none;
      }

      .slides .wrap {
        width: 100%;
        direction: rtl;
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;
      }

      .slides .backdrop {
        width: 100%;
        height: 310px;
        padding: 0.2em 1.5em 0 1.1em;
        background: rgb(201, 191, 177);
        color: black;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        font-family: Arial, sans-serif;
        font-size: 64px;
        line-height: 62px;
        box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.4);
      }

      .slides h3 {
        margin: 0 0 0 1em;
        line-height: 1em;
        font-size: 1.4em;
        text-align: center;
      }

      .slides h4 {
        margin: 0 0 0 1em;
        line-height: 1em;
        font-size: 1.0em;
        text-align: center;
      }

      .slides h5 {
        margin: 0 0 0 1em;
        line-height: 1em;
        font-size: 0.8em;
        text-align: center;
      }

      .slides .source {
        margin-top: 0.3em;
        font-size: smaller;
        border-top: 3px solid;
        display: inline-block;
        line-height: 45px;
        width: 100%;
        padding-top: 0.25em;
        text-align: left;
      }

      .full-screen {
        display: none;
        background: green url(/full-screen-bg.jpg) no-repeat 0 0;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        margin: 0;
        width: 1920px;
        height: 1080px;
      }

      .full-screen .source {
        margin-top: 0.3em;
        font-size: 60px;
        border-top: 3px solid;
        display: inline-block;
        line-height: 70px;
        width: 100%;
        text-align: left;
      }

      .full-screen .content {
        width: calc(1920px - 500px);
        height: calc(1080px - 250px);
        direction: rtl;
        font-family: Arial, sans-serif;
        font-size: 88px;
        font-weight: bold;
        line-height: 100px;
        margin: 250px 250px 0 250px;
        overflow: hidden;
      }

      .questions {
        display: none;
        width: 100%;
        direction: rtl;
        position: absolute;
        top: 796px;
        right: 0;
        max-height: 246px;
        overflow: hidden;
        padding: 0.2em 1.1em;
        color: black;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        font-family: Arial, sans-serif;
        font-size: 64px;
        line-height: 68px;
        border-top: 15px solid #4997f7;
        background: #fcf5f5;
        text-align: center;
      }

      .questions:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 15px solid #c9cbcd;
      }

      .question {
        height: 220px;
        display: none;
      }

  body
    .full-screen
      .content
    .slides
      .content
    .questions
      .question.question-he
      .question.question-en
      .question.question-ru
