doctype html
html lang="he"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    title Big Window
    css:
      * {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      p {
        display: none;
      }

      .slides .wrap {
        height: 216px;
        width: 100%;
        direction: rtl;
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;
      }

      .slides .backdrop {
        width: 1280px;
        height: 216px;
        padding: 0.2em 1.5em 0 1.1em;
        background: -webkit-linear-gradient(left, rgba(201, 191, 177, 0.6) 0%, rgba(201, 191, 177, 0.9) 15%, rgba(201, 191, 177, 0.9) 85%, rgba(201, 191, 177, 0.6) 100%);
        background: linear-gradient(left, rgba(201, 191, 177, 0.6) 0%, rgba(201, 191, 177, 0.9) 15%, rgba(201, 191, 177, 0.9) 85%, rgba(201, 191, 177, 0.6) 100%);
        color: black;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        font-family: Arial, sans-serif;
        font-size: 43px;
        line-height: 46px;
        box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.4);
      }
      .slides h3 {
        margin: 0 0 0 1em;
        line-height: 1em;
        font-size: 1.4em;
        text-align: center;
      }

      .question {
        display: none;
        height: 208px;
        width: 1280px;
        direction: rtl;
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;
        padding: 0.2em 1.5em 0 1.1em;
        color: black;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        font-family: Arial, sans-serif;
        font-size: 40px;
        line-height: 46px;
        border-top: 10px solid #4997f7;
        background: #fcf5f5;
        text-align: center;
      }
      .question:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 10px solid #c9cbcd;
      }

  body
    .slides
      .content
    .question
