|
  var $slides = #{@slides.html_safe};
  ractive.set('slides', $slides);
  $(function() {
    $('.slides .draggable').draggable({
           revert: true,
           handle: 'span'
    });
  });
  if (defer1 !== undefined) {
      defer1.resolve();
  }
