| $('.slides ul').html('#{@slides.html_safe}');
  $(function() {
    $('.slides .draggable').draggable({
           revert: true,
           handle: 'span'
    });
  });
  if (defer1 !== undefined) {
      defer1.resolve();
  }
