/*
 *= require_self
 */
@import "reset";

@font-face {
  font-family: 'Oron';
  font-style: normal;
  font-weight: normal;
  src: font-url('Oron-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Oron';
  font-style: normal;
  font-weight: bold;
  src: font-url('Oron-Bold.otf') format('opentype');
}

$color-blue: #2C8CD2;
$color-font: #444;
$color-background: #fff;

body {
  background: $color-background;
  color: $color-font;
  font-size: 64px;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  font-weight:bold;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  // width: 1280px; /*pal widescreen width*/
  // height: 720px; /*pal widescreen heigh*/
  padding: 128px 72px; /*pal widescreen safest zone*/
  padding: 36px 64px; /*pal widescreen safe zone*/

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(bg.png) no-repeat center center / cover;
    z-index: -1;
    opacity: 1;
  }
}

header, footer {
  flex: 0 0 20px;
  background: red;

}

.lang-title {
  color: $color-background;
  background: $color-blue;
  padding: .4em 0.3em 0;
  margin: 0 .5em 0 0;
  display: inline-block;
  font-family: Arial, sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  .lang-heb & {
    margin: 0 0 0 .5em;
  }
}

.languages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.lang {
  flex: 1 1 auto;
  border-top: 2px solid $color-blue;
  padding: 0 0 .4em 0;
}

.lang-heb {
  direction: rtl;
  font-family: Oron, Arial, sans-serif;
  line-height: 1.35;
  letter-spacing: 1px;
  word-spacing: 5px;
}
