/*
 *= require_self
 */
@import "reset";

@font-face {
  font-family: 'Oron';
  font-style: normal;
  font-weight: normal;
  src: font-url('Oron-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Oron';
  font-style: normal;
  font-weight: bold;
  src: font-url('Oron-Bold.otf') format('opentype');
}

$color-blue: #2C8CD2;
$color-font: #444;
$color-background: #fff;

body {
  background: $color-background;
  color: $color-font;
  font-size: 64px;
  font-family: Arial, sans-serif;
  line-height: 1;
  font-weight: bold;
}

header, footer {
  flex: 0 0 20px;
  background: red;

}

.lang-title {
  color: $color-background;
  background: $color-blue;
  padding: .3em 0.3em 0;
  margin: 0 .5em 0 0;
  display: inline-block;
  font-family: Arial, sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  width: 90px;
  height: 90px;
  float: left;
  .lang-heb & {
    margin: 0 0 0 .5em;
  }
}

.languages {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
}

.lang {
  border-top: 2px solid $color-blue;
  padding: 0 0 .4em 0;
  overflow: hidden;
}

.lang-heb .lang-title {
  float: right;
}

.lang-heb {
  direction: rtl;
  font-family: Oron, Arial, sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
}
