/*
 *= require_self
 */
@import "reset";

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: font-url('NotoSansHebrew-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: font-url('NotoSansHebrew-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: font-url('NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: font-url('NotoSans-Bold.ttf') format('truetype');
}

$color-blue: #2C8CD2;
$color-font: #444;
$color-background: #F1F3F4;

body {
  background: $color-background;
  color: $color-font;
  font-size: 40px;
  font-famiy: 'Noto Sans Hebrew', 'Noto Sans', sans-serif;
  line-height: 1.3;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  // width: 1280px; /*pal widescreen width*/
  // height: 720px; /*pal widescreen heigh*/
  padding: 128px 72px; /*pal widescreen safest zone*/
  padding: 36px 64px; /*pal widescreen safe zone*/
}

header, footer {
  flex: 0 0 20px;
  background: red;

}

.lang-title {
  color: $color-background;
  background: $color-blue;
  padding: .4em 0.3em 0;
  margin: 0 .5em 0 0;
  display: inline-block;
  .lang-heb & {
    margin: 0 0 0 .5em;
  }
}

.languages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.lang {
  flex: 1 1 auto;
  border-top: 2px solid $color-blue;
  padding: 0 0 .4em 0;
}

.lang-heb {
  direction: rtl;
  font-size: 50px;
}
